.DS_Store
Thumbs.db
*.log
.env
storage/cms/*
storage/combiner/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/temp/*
storage/app/*
!storage/**/.gitkeep
bootstrap/*
config/*
modules/*
vendor/*
plugins/october/*
plugins/rainlab/*
plugins/reazzon/*
plugins/romanov/*
plugins/vojtasvoboda/*
plugins/shahiemseymor/*